<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title%} {% endblock %}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/logo.svg')}}" type="image">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='datatables/datatables.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/prism.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/query-builder.default.min.css')}}">


    <script src="{{url_for('static', filename='js/jquery-3.6.1.min.js')}}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"-->
<!--            crossorigin="anonymous"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='datatables/datatables.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/data_table.js')}}"></script>
    <script src="{{url_for('static', filename='js/master.js')}}"></script>
    <script src="{{url_for('static', filename='js/prism.js')}}"></script>
    <script src="{{url_for('static', filename='js/segment_source.js')}}"></script>
    <script src="{{url_for('static', filename='js/checkbox.js')}}"></script>
    <script src="{{url_for('static', filename='js/factSheet.js')}}"></script>
    <script src="{{url_for('static', filename='js/validation.js')}}"></script>

</head>
<body>
<div class="loaderBg" id="loaderBg"></div>
<div class="loaderContainer" id="loaderContainer">
    <div class="loadericon" id="loaderIcon"></div>
</div>

{% block nav %}
{% endblock %}

<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>
<script>

    $( ".loaderButton" ).on('click', function() {
        $("#loaderBg").show();
        $("#loaderContainer").show();
    });

     $(window).on('load', function () {
       $('#loaderBg').hide();
       $('#loaderContainer').hide();
     });

</script>
</body>
</html>
