{% extends 'base.html'%}
{% block nav %}



<nav class="navbar navbar-expand navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img alt="logo" class="t1-logo" src="/static/images/logo.svg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span class="navbar-toggler-icon"></span> </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{url_for('userPreferences')}}">{{session['username']}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('wviConfig')}}">Website-Besuchererkennung</a></li>
            <li><a class="dropdown-item" href="{{url_for('contentScoreDefinition')}}" >ContentScores</a></li>
            <li><a class="dropdown-item" href="{{url_for('segment_config')}}">Segmente</a></li>
            <li><a class="dropdown-item" href="{{url_for('jobOfferSearchConfig')}}">JobOffer Search Tasks</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}