{% extends 'navigation.html'%}
{% block title%} Change password {% endblock %}

{% block body %}
<div class="container-fluid log_container_pass register" style="margin-top:100px;">
    <div class="log_container_block col-lg-offset-3 col-md-offset-3">
        <br>
        <div class="col-md-offset-1 col-lg-offset-1 col-xl-offset-1 col-md-10 col-lg-10 col-xl-10">
            <h2>Passwort ändern</h2>
            <p class="error" id="error_msg" style="display:none;">Das alte Passwort ist nicht korrekt.</p>
                <div class="form-group">
                    <input type="password" class="form-control" name="old_pwd" id="old_pwd"
                           placeholder="Altes passwort">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="new_pwd" id="new_pwd"
                           placeholder="Neues Passwort" onkeyup="validate_pwd()">
                    <span id="validate_pwd_msg" class="validation_msg">Das Passwort muss mindestens 8 Zeichen enthalten, davon mind. ein Buchstabe, eine Zahl und ein Sonderzeichen.</span>

                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="c_pwd" id="c_pwd"
                           placeholder="Nochmal das neue Passwort" onkeyup="confirm_pwd()">
                    <span id="confirm_pwd_msg" class="validation_msg">Die Eingaben sind nicht identisch.</span>
                </div>

                <!--               Start button-->
                <div class="loginSubmit">
                    <button type="submit" name="reset" id="reset" class="loginSubBtn" onclick="reset()">Speichern</button>
                    <button type="submit" name="goBack" id="goBack" class="loginSubBtn" onclick="goBack()">Zurück</button>
                </div>
            <br><br>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#validate_pwd_msg').prop('hidden',true)
        $('#confirm_pwd_msg').prop('hidden',true)
        $('#reset').prop('disabled',true)
    });

    function validate_pwd(){
        let new_password = document.getElementById('new_pwd').value;
        let regex = /^(?=.*[A-Za-zäöüÄÖÜß])(?=.*\d)(?=.*[@$!%*#?&§`~/{}\"\(\)\=\+\*\~\-\_\\\[\]\}\^\°])[A-Za-zäöüÄÖÜß\d@$!%*#?&§`~/{}\"\(\)\=\+\*\~\-\_\\\[\]\}\^\°]{8,}$/;

        if (!new_password.match(regex)) {
            document.getElementById("validate_pwd_msg").style.display = "block";
        }
        else{
            document.getElementById("validate_pwd_msg").style.display = "none";
        }
   }

    function confirm_pwd(){
    let new_password = document.getElementById('new_pwd').value;
    let c_password = document.getElementById('c_pwd').value;
    if(new_password == c_password){
           $('#reset').prop('disabled',false)
           $('#confirm_pwd_msg').prop('hidden',true)

    }
    else{
           $('#reset').prop('disabled',true)
           $('#confirm_pwd_msg').prop('hidden',false)

    }
    }

    function reset(){
        let old_password = document.getElementById('old_pwd').value;
        let new_password = document.getElementById('new_pwd').value;
        console.log(old_password)
        $.ajax({
            url:'/resetPassword',
            method:'post',
            data:{'old_password':old_password, 'new_password':new_password},
            success:function(data){
                if(data == "1"){
                    history.back()
                }
                else{
                    document.getElementById("error_msg").style.display = "block";
                }
            }
        });
    }

</script>
{% endblock %}
