
<!doctype html>

<html lang="de">
<head>
	<meta charset="utf-8">
	<title>truffle.one</title>
	<meta name="description" content="truffle.one">
	<link rel="stylesheet" href="https://app2.truffle.one/css/style.css">
</head>

<body>


        <center>

{% if ip %}
			<h1>You are not targeted anymore!</h1>
			<p>{{ ip }}</p>
			<p><a href="https://www.t3n.de" target="new">Check it here</a></p>
			<p><a href="https://api.truffle.one/targetme">Target me!</a></p>
			<p></p>
{% endif %}
			<object data="https://app2.truffle.one/images/truffle-one-logo.svg" type="image/svg+xml" width="300" height="75.03">
			<img src="https://app2.truffle.one/images/truffle-one-logo.png" alt="truffle one logo">
			</object>
	</center>
</body>
</html>
